<section {{ anchor }} {{ attribute }}>
	<svg class="position-absolute start-0 end-o top-100 w-100" xmlns="http://www.w3.org/2000/svg" width="1440" height="32" viewBox="0 0 1440 32" fill="none">
		<path d="M0 0C0 0 438.545 0 720 0C1001.46 0 1440 0 1440 0C1440 0 1001.46 32 720 32C438.545 32 0 0 0 0Z" fill="var(--background-color)"/>
	</svg>
	<div class="container">
		{% if fields.title %}
			<h2 class="text-uppercase text-center mb-56">{{ fields.title | highlight_text | e('wp_kses_post') }}</h2>
		{% endif %}
		{% if team_members | length > 0 %}
			<div class="row justify-content-sm-center justify-content-md-start mb-80 mb-lg-120 g-16 g-lg-24">
				{% for member in team_members %}
					<div class="col-12 col-sm-10 col-md-6 col-xl-4">
						<div class="fp-team-member h-100 bg-white rounded-16 border border-1 p-16 p-lg-24">
							<div class="h-100 d-flex flex-column flex-md-column align-items-start gap-16 gap-lg-24">
								<div class="w-sm-100 d-flex align-items-center flex-shrink-0 gap-8">
									<picture class="w-100">
										<source media="(max-width: 480px)"
												srcset="{{ member.thumbnail.src|resize(112, 112, 'center')|towebp }} 1x, {{ member.thumbnail.src|resize(168, 168, 'center')|towebp }} 1.5x"
												width="112" height="112"/>
										<source media="(max-width: 480px)"
												srcset="{{ member.thumbnail.src|resize(112, 112, 'center')|towebp }} 1x, {{ member.thumbnail.src|resize(168, 168, 'center')|towebp }} 1.5x"
												type="image/webp" width="112" height="112"/>

										<source media="(max-width: 576px)"
												srcset="{{ member.thumbnail.src|resize(148, 148, 'center')|towebp }} 1x, {{ member.thumbnail.src|resize(222, 222, 'center')|towebp }} 1.5x"
												width="148" height="148"/>
										<source media="(max-width: 576px)"
												srcset="{{ member.thumbnail.src|resize(148, 148, 'center')|towebp }} 1x, {{ member.thumbnail.src|resize(222, 222, 'center')|towebp }} 1.5x"
												type="image/webp" width="148" height="148"/>

										<source media="(max-width: 991px)"
												srcset="{{ member.thumbnail.src|resize(320, 200, 'top')|towebp }} 1x, {{ member.thumbnail.src|resize(480, 300, 'top')|towebp }} 1.5x"
												width="320" height="200"/>
										<source media="(max-width: 991px)"
												srcset="{{ member.thumbnail.src|resize(320, 200, 'top')|towebp }} 1x, {{ member.thumbnail.src|resize(480, 300, 'top')|towebp }} 1.5x"
												type="image/webp" width="320" height="200"/>

										<source srcset="{{ member.thumbnail.src|resize(390, 240, 'top')|towebp }} 1x, {{ member.thumbnail.src|resize(585, 360, 'top')|towebp }} 1.5x"
												type="image/webp" width="390" height="240"/>
										<img class="object-fit-cover w-100 rounded-16" src="{{ member.thumbnail.src|resize(390, 240, 'top') }}" srcset="{{ member.thumbnail.src|resize(585, 360, 'top') }}" alt="{{ member.thumbnail.alt|e('html_attr') }}" width="390" height="240">
									</picture>
									<h3 class="font-family-body font-weight-600 mb-0 d-sm-none">{{ member.post_title }}</h3>
								</div>
								<div class="h-100 d-flex flex-column align-items-start">
									<h3 class="font-family-body font-weight-600 d-none d-sm-block mb-12">{{ member.post_title }}</h3>
									<div class="mb-16">
										<div class="d-flex flex-wrap row-gap-8 gap-16">
											{% for tag in member.terms({taxonomy: 'team_member_tag'}) %}
												<div class="fp-team-member__tag text-uppercase font-weight-600 p-8 rounded-4 border border-blue border-1 border-opacity-25 bg-light-blue">{{ tag.name }}</div>
											{% endfor %}
										</div>
									</div>
									<div class="fp-body-sm mb-40 d-flex flex-wrap row-gap-16 gap-40">
										<div class="d-flex gap-8">
											<div class="fp-team-member__info-icon d-flex justify-content-center align-items-center bg-sandy-brown rounded-8">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M18.4475 18.2539L17.939 17.3928L18.4475 18.2539ZM18.939 17.3928H17.939H18.939ZM10.9657 21.4035L10.4292 22.2475L10.9657 21.4035ZM13.0555 21.4378L13.564 22.2989L13.0555 21.4378ZM1.90419 8.1368L1.39226 7.27777L1.90419 8.1368ZM1.90419 8.99583L1.39226 9.85486L1.90419 8.99583ZM12.512 14.7073L13.024 15.5663L12.512 14.7073ZM11.4882 14.7073L12.0001 13.8483L11.4882 14.7073ZM22.096 8.1368L22.6079 7.27777L22.096 8.1368ZM22.096 8.99583L21.5841 8.1368L22.096 8.99583ZM6.01768 18.2583L6.55413 17.4144L6.01768 18.2583ZM12.512 2.42533L12.0001 3.28436L12.512 2.42533ZM11.4882 2.42533L12.0001 3.28436L11.4882 2.42533ZM23.2001 8.54967C23.2001 7.99739 22.7524 7.54967 22.2001 7.54967C21.6478 7.54967 21.2001 7.99739 21.2001 8.54967H23.2001ZM21.2001 13.9497C21.2001 14.502 21.6478 14.9497 22.2001 14.9497C22.7524 14.9497 23.2001 14.502 23.2001 13.9497H21.2001ZM12.0001 3.28436L21.5841 8.99583L22.6079 7.27777L13.024 1.56631L12.0001 3.28436ZM21.5841 8.1368L12.0001 13.8483L13.024 15.5663L22.6079 9.85486L21.5841 8.1368ZM2.41612 8.99583L12.0001 3.28436L10.9762 1.56631L1.39226 7.27777L2.41612 8.99583ZM12.0001 13.8483L6.06606 10.3119L5.0422 12.03L10.9762 15.5663L12.0001 13.8483ZM6.06606 10.3119L2.41612 8.1368L1.39226 9.85486L5.0422 12.03L6.06606 10.3119ZM4.55413 11.171V17.4144H6.55413V11.171H4.55413ZM5.48123 19.1022L10.4292 22.2475L11.5021 20.5596L6.55413 17.4144L5.48123 19.1022ZM13.564 22.2989L18.956 19.115L17.939 17.3928L12.5471 20.5767L13.564 22.2989ZM19.939 17.3928L19.939 11.171H17.939L17.939 17.3928H19.939ZM18.956 19.115C19.5652 18.7552 19.939 18.1003 19.939 17.3928H17.939L18.956 19.115ZM10.4292 22.2475C11.3814 22.8527 12.5925 22.8726 13.564 22.2989L12.5471 20.5767C12.2232 20.768 11.8195 20.7613 11.5021 20.5596L10.4292 22.2475ZM1.39226 7.27777C0.416118 7.8595 0.416123 9.27314 1.39226 9.85486L2.41612 8.1368C2.7415 8.33071 2.7415 8.80192 2.41612 8.99583L1.39226 7.27777ZM12.0001 13.8483L12.0001 13.8483L10.9762 15.5663C11.6071 15.9422 12.3931 15.9422 13.024 15.5663L12.0001 13.8483ZM21.5841 8.99583C21.2587 8.80192 21.2587 8.33071 21.5841 8.1368L22.6079 9.85486C23.5841 9.27314 23.5841 7.8595 22.6079 7.27777L21.5841 8.99583ZM4.55413 17.4144C4.55413 18.0985 4.90384 18.7352 5.48123 19.1022L6.55413 17.4144V17.4144H4.55413ZM13.024 1.56631C12.3931 1.19038 11.6071 1.19038 10.9762 1.56631L12.0001 3.28436L12.0001 3.28436L13.024 1.56631ZM21.2001 8.54967V13.9497H23.2001V8.54967H21.2001Z" fill="#050201"/>
												</svg>
											</div>
											<div>
												<p class="mb-0 text-gray">{{ _e('Experience', 'fp') }}</p>
												<p class="mb-0">{{ member.experience }}</p>
											</div>
										</div>
										<div class="d-flex gap-8">
											<div class="fp-team-member__info-icon d-flex justify-content-center align-items-center bg-sandy-brown rounded-8">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M19.1999 13.6857C20.4672 14.6326 21.5999 17.0167 21.5999 18.4857C21.5999 18.9433 21.266 19.3143 20.8541 19.3143H20.3999M15.5999 9.8045C16.4197 9.33025 16.9713 8.44383 16.9713 7.42859C16.9713 6.41334 16.4197 5.52693 15.5999 5.05268M3.14567 19.3143H16.2827C16.6946 19.3143 17.0285 18.9433 17.0285 18.4857C17.0285 15.6091 14.6252 13.2771 9.71419 13.2771C4.80317 13.2771 2.3999 15.6091 2.3999 18.4857C2.3999 18.9433 2.7338 19.3143 3.14567 19.3143ZM12.457 7.42859C12.457 8.94343 11.229 10.1714 9.71419 10.1714C8.19935 10.1714 6.97133 8.94343 6.97133 7.42859C6.97133 5.91375 8.19935 4.68573 9.71419 4.68573C11.229 4.68573 12.457 5.91375 12.457 7.42859Z" stroke="#050201" stroke-width="2" stroke-linecap="round"/>
												</svg>
											</div>
											<div>
												<p class="mb-0 text-gray">{{ _e('Patients', 'fp') }}</p>
												<p class="mb-0">{{ member.patients }}</p>
											</div>
										</div>
									</div>
									<div class="mb-auto">{{ member.description }}</div>
									<div class="text-center text-sm-start w-100">
										<a class="fp-button fp-button--sm fp-button--black mt-24" href="#offcanvas-booking">
											{{ _e('Book a specialist', 'fp') }}
											<span class="icon-box">
												<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M8.23429 2.63431C8.54671 2.32189 9.05324 2.32189 9.36566 2.63431L14.1657 7.43431C14.4781 7.74673 14.4781 8.25326 14.1657 8.56568L9.36566 13.3657C9.05324 13.6781 8.54671 13.6781 8.23429 13.3657C7.92187 13.0533 7.92187 12.5467 8.23429 12.2343L11.6686 8.79999L2.39998 8.8C1.95815 8.79999 1.59998 8.44182 1.59998 7.99999C1.59998 7.55817 1.95815 7.19999 2.39998 7.19999H11.6686L8.23429 3.76568C7.92187 3.45326 7.92187 2.94673 8.23429 2.63431Z" fill="currentColor"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}

		{% if fields.description %}
			<div class="row">
				<div class="col-12 col-lg-6 offset-lg-3">
					<h3 class="text-uppercase text-center mb-24">{{ fields.description | highlight_text | e('wp_kses_post') }}</h3>
				</div>
			</div>
		{% endif %}

		{% if fields.cta.url and fields.cta.title %}
			<div class="text-center">
				<a class="fp-button fp-button--hollow fp-button--sm" href="{{ fields.cta.url|e('esc_url') }}" target="{{ fields.cta.target|e('html_attr') ?: '_self' }}">
					{{ fields.cta.title|e('wp_kses_post') }}
					<span class="icon-box">
						<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M8.23429 2.63431C8.54671 2.32189 9.05324 2.32189 9.36566 2.63431L14.1657 7.43431C14.4781 7.74673 14.4781 8.25326 14.1657 8.56568L9.36566 13.3657C9.05324 13.6781 8.54671 13.6781 8.23429 13.3657C7.92187 13.0533 7.92187 12.5467 8.23429 12.2343L11.6686 8.79999L2.39998 8.8C1.95815 8.79999 1.59998 8.44182 1.59998 7.99999C1.59998 7.55817 1.95815 7.19999 2.39998 7.19999H11.6686L8.23429 3.76568C7.92187 3.45326 7.92187 2.94673 8.23429 2.63431Z" fill="currentColor"/>
						</svg>
					</span>
				</a>
			</div>
		{% endif %}

	</div>
</section>
