<section {{ anchor }} {{ attribute }} data-services-list-block>
	<div class="container">
		{% if title %}
			<h1 class="h2 text-center text-uppercase mb-40 mb-lg-56">{{ title }}</h1>
		{% endif %}
		<div class="row g-16 g-lg-24">
			{% for item in services %}
				<div class="col-12 col-md-4">
					<article class="fp-offer-card overflow-hidden position-relative bg-position-center bg-size-cover bg-repeat-no-repeat d-flex align-items-end rounded-16 p-8 pt-180 pt-xl-280 h-100" style="background-image: url({{ item.post.image.url }});">
						<div class="position-relative w-100 z-2 fp-blur text-white rounded-8 p-16">
							<h3 class="text-uppercase font-weight-500 mb-16">{{ item.post.title | e('wp_kses_post') }}</h3>
							<p class="mb-24">{{ item.children.count ~ ' services' | e('wp_kses_post') }}</p>
							<a href="#{{ item.post.slug }}" class="stretched-link fp-button fp-button--sm">
								View more
								<span class="icon-box">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M8.23429 2.63431C8.54671 2.32189 9.05324 2.32189 9.36566 2.63431L14.1657 7.43431C14.4781 7.74673 14.4781 8.25326 14.1657 8.56568L9.36566 13.3657C9.05324 13.6781 8.54671 13.6781 8.23429 13.3657C7.92187 13.0533 7.92187 12.5467 8.23429 12.2343L11.6686 8.79999L2.39998 8.8C1.95815 8.79999 1.59998 8.44182 1.59998 7.99999C1.59998 7.55817 1.95815 7.19999 2.39998 7.19999H11.6686L8.23429 3.76568C7.92187 3.45326 7.92187 2.94673 8.23429 2.63431Z" fill="currentColor"/>
									</svg>
								</span>
							</a>
						</div>
					</article>
				</div>
			{% endfor %}
		</div>
		<div class="my-40 my-lg-56 border-top border-gray-light"></div>
		<div class="row g-40">
			{% for item in services %}
				{% set color = item.post.primary_color ? item.post.primary_color : 'primary' %}
				<div class="col-12">
					<div class="fp-table-wrap pt-24 pt-lg-56 pb-40 pb-lg-80 px-16 px-lg-40 px-xl-120 rounded-16 {{ color }}">
						<table id="{{ item.post.slug }}" class="m-0 p-0 w-100">
							<caption class="h3 text-center font-family-body font-weight-600 p-0 mb-40">{{ item.post.title }}</caption>
							<thead>
								<tr>
									<th class="pb-lg-16" scope="col"><span class="text-uppercase text-{{ color }}">{{ __('Serwis', 'fp') }}</span></th>
									<th class="pb-lg-16" scope="col"><span class="text-uppercase text-{{ color }}">{{ __('trwanie', 'fp') }}</span></th>
									<th class="pb-lg-16" scope="col"><span class="text-uppercase text-{{ color }}">{{ __('Koszt', 'fp') }}</span></th>
								</tr>
							</thead>
							<tbody>
							{% for post in item.children %}
								{% set service = get_post(post.service) %}
								<tr class="position-relative z-1 py-24 py-lg-0 mb-0 h4 font-weight-600 border-bottom border-{{ color }} border-opacity-50 text-black font-family-body">
									<td class="pb-16 py-lg-24 position-relative z-2 pe-none" data-label="{{ __('Serwis', 'fp') }}">
										{{ post.title }}
									</td>
									<td class="pb-16 py-lg-24" data-label="{{ __('trwanie', 'fp') }}">
										{% for price in service.meta('price') %}
											<span>
												{{ price.time }}
												{% if not loop.last %}
													<span class="text-black text-opacity-25"> / </span>
												{% endif %}
											</span>
										{% endfor %}
									</td>
									<td class="py-lg-24" data-label="{{ __('Koszt', 'fp') }}">
										{% for price in service.meta('price') %}
											<span>{{ price.price }} {{ price.currency }}</span>
											{% if not loop.last %}
												<span>/</span>
											{% endif %}
										{% endfor %}
										<div class="d-lg-none mt-24">
											<a href="{{ post.link }}" class="fp-button fp-button--sm stretched-link">
												View more
												<span class="icon-box">
													<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M8.23429 2.63431C8.54671 2.32189 9.05324 2.32189 9.36566 2.63431L14.1657 7.43431C14.4781 7.74673 14.4781 8.25326 14.1657 8.56568L9.36566 13.3657C9.05324 13.6781 8.54671 13.6781 8.23429 13.3657C7.92187 13.0533 7.92187 12.5467 8.23429 12.2343L11.6686 8.79999L2.39998 8.8C1.95815 8.79999 1.59998 8.44182 1.59998 7.99999C1.59998 7.55817 1.95815 7.19999 2.39998 7.19999H11.6686L8.23429 3.76568C7.92187 3.45326 7.92187 2.94673 8.23429 2.63431Z" fill="currentColor"/>
													</svg>
												</span>
											</a>
										</div>
										<a href="{{ post.link }}" class="fp-desktop-link w-0 h-0 d-none d-lg-block stretched-link">
											<span class="position-absolute pe-none z-2 top-50 translate-middle-y fp-button fp-button--sm">
												View more
												<span class="icon-box">
													<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M8.23429 2.63431C8.54671 2.32189 9.05324 2.32189 9.36566 2.63431L14.1657 7.43431C14.4781 7.74673 14.4781 8.25326 14.1657 8.56568L9.36566 13.3657C9.05324 13.6781 8.54671 13.6781 8.23429 13.3657C7.92187 13.0533 7.92187 12.5467 8.23429 12.2343L11.6686 8.79999L2.39998 8.8C1.95815 8.79999 1.59998 8.44182 1.59998 7.99999C1.59998 7.55817 1.95815 7.19999 2.39998 7.19999H11.6686L8.23429 3.76568C7.92187 3.45326 7.92187 2.94673 8.23429 2.63431Z" fill="currentColor"/>
													</svg>
												</span>
											</span>
										</a>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
