<section {{ anchor }} {{ attribute }} style="background-image: url({{ fields.background_image.url | resize(1920) }});">
	<div class="container d-flex justify-content-center">
		<div class="col-12 col-md-10 col-xl-7">
			<div class="fp-blur rounded-16 px-16 py-40 p-md-40 px-lg-60 px-xl-100">
				<h3 class="font-family-body font-weight-600 text-center mb-24">{{ fields.title|e('wp_kses_post') }}</h3>
				<p class="text-center text-gray-dark mb-40 mb-lg-52">{{ fields.description|e('wp_kses_post') }}</p>
				{% if fields.form %}
					<div class="fp-contact-form">
						{{ fn('do_shortcode', fields.form) }}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
