<!doctype html>
<html {{ site.language_attributes }}>
<head>
    {% block html_head %}
        <meta charset="{{ site.charset }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<!-- Prefetch and Preconnect -->
		<link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
		<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
		<link rel="preconnect" href="https://connect.facebook.net" crossorigin>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,500;1,500&family=Manrope:wght@500;600;700&display=swap" rel="stylesheet">

		<link rel="dns-prefetch" href="https://www.google-analytics.com">
		<link rel="dns-prefetch" href="https://www.googletagmanager.com">
		<link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
		<link rel="dns-prefetch" href="https://connect.facebook.net">

		{{ function('wp_head') }}
        {% block head %}
        {% endblock %}
    {% endblock %}
</head>

<body class="{{ body_class }}" data-template="base.twig">
    {% block header %}
        {% include 'partial/header.twig' %}
    {% endblock %}
    {% block offcanvas %}
        {% include 'partial/offcanvas.twig' %}
		{% include 'partial/offcanvas-booking.twig' %}
    {% endblock %}
    {% block content %}
        Sorry, no content
    {% endblock %}
    {% block footer %}
        {% include 'partial/footer.twig' %}
        {% include '_global/svg-sprite.twig' %}
    {% endblock %}
    <div class="fp-preloader" data-preloader=""></div>
	{{ function('wp_footer') }}
</body>
</html>
