{% extends "base.twig" %}

{% block content %}
    <main>
		<div class="container">
			<section class="fp-post-section mb-80 mb-md-100 mb-xl-140">
				<div class="row">
					<div class="col-12 col-lg-3">
						{% include 'partial/related-products.twig' with { 'title' : sidebar_title } %}
					</div>
					<div class="col-12 col-lg-9">
						<article>
							<div class="row">
								<div class="col-12 col-md-6">
									{% if post.meta('gallery') | length > 0 %}
										<div class="fp-product-gallery splide position-relative" data-product-gallery>
											<div class="splide__track">
												<div class="splide__list">
													<div class="fp-thumb-image-wrap border-radius-45 d-flex justify-content-center align-items-center splide__slide">
														<img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" width="{{ post.thumbnail.width }}" height="{{ post.thumbnail.height }}"/>
													</div>
													{% for image in post.meta('gallery') %}
														<div class="splide__slide">
															<div class="fp-thumb-image-wrap border-radius-45 p-15 d-flex justify-content-center align-items-center">
																<img src="{{ Image(image) }}" alt="{{ image.alt }}" width="{{ image.width }}" height="{{ image.height }}"/>
															</div>
														</div>
													{% endfor %}
												</div>
											</div>
										</div>
									{% else %}
										<div class="fp-thumb-image-wrap border-radius-45 p-15 d-flex justify-content-center align-items-center">
											{% if post.thumbnail.src %}
												<img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" width="{{ post.thumbnail.width }}" height="{{ post.thumbnail.height }}"/>
											{% endif %}
										</div>
									{% endif %}
								</div>
								<div class="col-12 col-md-6 ps-xl-40">
									<h1 class="h2 mb-30 mb-md-40 mt-lg-28">{{ post.title }}</h1>
									{% if banners | length > 0 %}
										<div class="d-flex flex-column gap-40">
											{% for banner in banners %}
												<div class="d-flex flex-column gap-32">
													{% if banner.description %}
														<div>
															<p class="fp-decor-excerpt mb-0">{{ banner.description }}</p>
														</div>
													{% endif %}
													{% if banner.banner_title or (banner.banner_link.url and banner.banner_link.title) %}
														<div class="border-radius-25 border-radius-lg-45 bg-4 p-20 w-100 w-lg-auto d-flex flex-column align-items-lg-center flex-lg-row justify-content-between gap-20 gap-lg-24">
															{% if banner.banner_title %}
																<p class="mb-0 mt-0">{{ banner.banner_title }}</p>
															{% endif %}
															{% if banner.banner_link.url and banner.banner_link.title %}
																<div class="d-flex gap-10 gap-lg-20 justify-content-between align-items-center flex-shrink-0">
																	<div class="text-accent-2 d-flex align-items-center flex-lg-column gap-3 gap-md-8 gap-lg-5">
																		<svg width="24" height="24"><use xlink:href="{{ svg_sprite }}#icon-oclock"></use></svg>
																		<span>24/7</span>
																	</div>
																	<a href="{{ banner.banner_link.url }}" class="fp-button fp-button--small d-flex align-items-center gap-7" target="{{ banner.banner_link.target ?: '_self' }}">
																		<span class="icon border-radius-circle border-1 border-color-body d-flex justify-content-center align-items-center flex-shrink-0">
																		   <svg width="20" height="20"><use xlink:href="{{ svg_sprite }}#icon-link-arrow"></use></svg>
																		</span>
																		<span>{{ banner.banner_link.title }}</span>
																	</a>
																</div>
															{% endif %}
														</div>
													{% endif %}
												</div>
											{% endfor %}
										</div>
									{% endif %}
								</div>
							</div>
							<div class="fp-single-content mt-60 mt-xl-80">{{ post.content }}</div>
						</article>
					</div>
				</div>
			</section>
			{% if related_products | length > 0 %}
				<section class="fp-block fp-latest-product-block">
					<div class="position-relative pt-130 pb-94 border-radius-15 border-radius-xl-45 bg-3 px-10 px-md-40 px-lg-70">
						{% if related_products_title %}
							<div class="overflow-hidden">
								<div class="position-absolute top-0 start-50 translate-middle-x">
									<div class="fp-section-heading-wrap position-relative bg-body px-24 pb-24 px-lg-50 pb-lg-40 px-xl-70 pb-xl-45">
										<span class="corner left"></span>
										<span class="corner right"></span>
										<h2 class="position-relative z-1 text-nowrap text-center text-1 mb-0">{{ related_products_title }}</h2>
									</div>
								</div>
							</div>
						{% endif %}
						<div class="fp-latest-product-block__row d-flex gap-10 gap-md-20 gap-lg-30 pb-54">
							{% for post in related_products %}
								{% include 'partial/product-card.twig' %}
							{% endfor %}
						</div>
						{% if link.title and link.url %}
							<a class="fp-latest-product-block__archive-link fp-circle-button" href="{{ link.url }}" target="{{ link.target ?: '_self' }}">{{ link.title }}</a>
						{% endif %}
					</div>
				</section>
			{% endif %}
		</div>
	</main>
{% endblock %}

