<section {{ anchor }} {{ attribute }}>
	<div class="container">
		<div class="fp-hero-block__inner mx-n16 mx-md-n24 mx-xl-n32 overflow-hidden position-relative bg-size-cover bg-repeat-no-repeat d-flex align-items-end rounded-top-0 rounded-top-xl-16 rounded-16" style="background-image: url({{ fields.image.url | resize(1920) }})">
			<div class="position-relative z-1">
				<div class="px-16 pb-68 w-100 px-md-32">
					<div class="row align-items-end">
						<div class="col-12 col-lg-8">
							{% if fields.title %}
								<h1 class="{{ fields.title_size ?? 'h2' }} text-white text-uppercase mb-0">{{ fields.title | highlight_text | e('wp_kses_post') }}</h1>
							{% endif %}
							{% if fields.cta.url and fields.cta.title %}
								<a class="fp-button mt-24 mt-lg-40" href="{{ fields.cta.url|e('esc_url') }}" target="{{ fields.cta.target|e('html_attr') ?: '_self' }}">
									{{ fields.cta.title|e('wp_kses_post') }}
									<span class="icon-box">
										<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M8.23429 2.63431C8.54671 2.32189 9.05324 2.32189 9.36566 2.63431L14.1657 7.43431C14.4781 7.74673 14.4781 8.25326 14.1657 8.56568L9.36566 13.3657C9.05324 13.6781 8.54671 13.6781 8.23429 13.3657C7.92187 13.0533 7.92187 12.5467 8.23429 12.2343L11.6686 8.79999L2.39998 8.8C1.95815 8.79999 1.59998 8.44182 1.59998 7.99999C1.59998 7.55817 1.95815 7.19999 2.39998 7.19999H11.6686L8.23429 3.76568C7.92187 3.45326 7.92187 2.94673 8.23429 2.63431Z" fill="currentColor"/>
										</svg>
									</span>
								</a>
							{% endif %}
						</div>
						{% if fields.description %}
							<div class="col-12 col-lg-4">
								<div class="fp-hero-block__content mt-40 mt-lg-0 text-white">{{ fields.description | highlight_text | e('wp_kses_post') }}</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
