{% if categories | length > 0 %}
	<aside class="fp-sidebar-list border-radius-45 border-radius-lg-25 bg-3 me-xl-30 mb-40 p-20 p-lg-30">
		<div class="mb-lg-20 d-flex align-items-center justify-content-between">
			<h3 class="mb-0 text-1">{{ sidebar_title }}</h3>
			<button class="fp-sidebar-list__toggle d-lg-none d-flex justify-content-center align-items-center" type="button" aria-label="{{ __('Sidebar Switcher') }}" data-sidebar-toggle>
				<svg class="open" width="18" height="18"><use xlink:href="{{ svg_sprite }}#icon-sidebar-toggle"></use></svg>
				<svg class="close" width="18" height="18"><use xlink:href="{{ svg_sprite }}#icon-sidebar-cross"></use></svg>
			</button>
		</div>
		<div class="fp-sidebar-list__content overflow-hidden" data-sidebar-content>
			<div class="d-flex flex-column gap-15 mt-15 mt-md-20 mt-lg-0">
				{% for item in categories %}
					<a class="fp-sidebar-list__item d-flex align-items-center justify-content-between gap-15 {{ item.slug == active_category.slug ? 'active' : ''}}" href="{{ item.link }}" target="_self">
						{{ item.name }}
						<span class="d-inline-flex justify-content-center align-items-center flex-shrink-0 icon border-radius-circle border-1 border-color-accent-2">
							<svg width="40" height="40"><use xlink:href="{{ svg_sprite }}#icon-pagination-next"></use></svg>
						</span>
					</a>
				{% endfor %}
			</div>
		</div>
	</aside>
{% endif %}
