<footer class="fp-footer bg-light-beige pt-40 pt-lg-80 pb-24">
	<div class="container">
		<div class="row mb-80">
			<div class="col-12 col-xl-3">
				<a class="fp-footer-logo d-inline-block mb-56" href="{{ site.url|e('esc_url') }}" rel="home" title="{{ site.name|e('html_attr') }}">
					<svg width="224" height="64"><use xlink:href="#icon-footer-logo"></use></svg>
				</a>
			</div>
			<div class="col-12 col-xl-9">
				<div class="row row-gap-24 row-gap-md-40 justify-content-xl-between">
					<div class="col-12 col-sm-6 col-md-3 col-xl">
						{% if menu.footer_nav_1 %}
							{% include "partial/footer-mobile-navigation.twig" with {'title': menu.footer_nav_1.name|e('wp_kses_post'), 'menu_items' : menu.footer_nav_1.get_items } %}
							{% include "partial/footer-desktop-navigation.twig" with {'title': menu.footer_nav_1.name|e('wp_kses_post'), 'menu_items' : menu.footer_nav_1.get_items } %}
						{% endif %}
					</div>
					<div class="col-12 col-sm-6 col-md-3 col-xl">
						{% if menu.footer_nav_2 %}
							{% include "partial/footer-mobile-navigation.twig" with {'title': menu.footer_nav_2.name|e('wp_kses_post'), 'menu_items' : menu.footer_nav_2.get_items } %}
							{% include "partial/footer-desktop-navigation.twig" with {'title': menu.footer_nav_2.name|e('wp_kses_post'), 'menu_items' : menu.footer_nav_2.get_items } %}
						{% endif %}
					</div>
					<div class="col-12 col-sm-6 col-md-3 col-xl">
						{% if menu.footer_nav_3 %}
							{% include "partial/footer-mobile-navigation.twig" with {'title': menu.footer_nav_3.name|e('wp_kses_post'), 'menu_items' : menu.footer_nav_3.get_items } %}
							{% include "partial/footer-desktop-navigation.twig" with {'title': menu.footer_nav_3.name|e('wp_kses_post'), 'menu_items' : menu.footer_nav_3.get_items } %}
						{% endif %}
					</div>
					<div class="col-12 col-sm-6 col-md-3 col-xl">
						{% if menu.footer_nav_5 %}
							{% include "partial/footer-mobile-navigation.twig" with {'title': menu.footer_nav_5.name|e('wp_kses_post'), 'menu_items' : menu.footer_nav_5.get_items } %}
							{% include "partial/footer-desktop-navigation.twig" with {'title': menu.footer_nav_5.name|e('wp_kses_post'), 'menu_items' : menu.footer_nav_5.get_items } %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items-lg-center justify-content-lg-between mb-40">
			<div class="col-12 col-md-6 mb-40 mb-md-0">
				<div class="line-lang-switcher">
					{{ fn('do_action', 'wpml_language_switcher', {'type' : 'footer', 'flags' : 0}) }}
				</div>
			</div>
			<div class="col-12 col-md-6 d-flex justify-content-center justify-content-sm-start justify-content-md-end">
				<div class="d-flex gap-40 align-items-center">
					{% if footer.instagram %}
						<a href="{{ footer.instagram|e('esc_url') }}" target="_blank" aria-label="{{ _e('Instagram', 'fp') }}">
							<svg width="40" height="40"><use xlink:href="#icon-instagram"></use></svg>
						</a>
					{% endif %}
					{% if footer.facebook %}
						<a href="{{ footer.facebook|e('esc_url') }}" target="_blank" aria-label="{{ _e('Facebook', 'fp') }}">
							<svg width="40" height="40"><use xlink:href="#icon-facebook"></use></svg>
						</a>
					{% endif %}
					{% if footer.youtube %}
						<a href="{{ footer.youtube|e('esc_url') }}" target="_blank" aria-label="{{ _e('YouTube', 'fp') }}">
							<svg width="40" height="40"><use xlink:href="#icon-youtube"></use></svg>
						</a>
					{% endif %}
					{% if footer.tiktok %}
						<a href="{{ footer.tiktok|e('esc_url') }}" target="_blank" aria-label="{{ _e('TikTok', 'fp') }}">
							<svg width="40" height="40"><use xlink:href="#icon-tiktok"></use></svg>
						</a>
					{% endif %}
					{% if footer.twitter %}
						<a href="{{ footer.twitter|e('esc_url') }}" target="_blank" aria-label="{{ _e('Twitter', 'fp') }}">
							<svg width="40" height="40"><use xlink:href="#icon-twitter"></use></svg>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% if footer.copyright %}
			<p class="fp-body-sm text-gray mb-0">{{ footer.copyright|replace({'[year]': "now"|date('Y')})|e('wp_kses_post') }}</p>
		{% endif %}
	</div>
</footer>
<script type="text/javascript" src="https://booksy.com/widget/code.js?id=206908&country=pl&lang={{ lang }}"></script>
