<header class="fp-header {{ header_style|e('html_attr') }} position-fixed rounded-12 rounded-lg-16 px-14 py-10 py-md-12 py-lg-14 mx-auto px-lg-32" data-header>
	<div class="row align-items-center">
		<div class="col-6 col-lg-2 col-xl-2 d-flex">
			<a class="fp-logo" href="{{ site.url|e('esc_url') }}" rel="home" title="{{ site.name|e('html_attr') }}">
				<svg class="d-none d-lg-block d-xl-none" width="46" height="40"><use xlink:href="#icon-header-cropped-logo"></use></svg>
				<svg class="d-block d-lg-none d-xl-block" width="140" height="40"><use xlink:href="#icon-header-full-logo"></use></svg>
			</a>
		</div>

		<div class="col d-flex justify-content-end justify-content-lg-start">
			<button class="fp-button fp-button--simple d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
				<span class="d-offcanvas-none">{{ __('Menu', 'fp') }}</span>
				<span class="d-offcanvas-block">{{ __('Close', 'fp') }}</span>
			</button>
			<nav class="navbar navbar-expand-lg d-none d-lg-flex">
				{% include "partial/menu-desktop.twig" with {'items': menu.desktop_nav.get_items, 'class': ''} %}
			</nav>
		</div>
		<div class="col-lg-1 col-xl-3 col-md-4 d-none d-lg-flex justify-content-end align-items-center header-lang-switcher">
			{{ fn('do_action', 'wpml_add_language_selector') }}
{#			<script type="text/javascript" src="https://booksy.com/widget/code.js?id=206908&country=pl&lang=uk"></script>#}
			{% if header.cta_button.url and header.cta_button.title %}
				<a class="fp-button fp-button--sm ms-24 d-none d-xl-flex" href="{{ header.cta_button.url|e('esc_url') }}" target="{{ header.cta_button.target|e('html_attr') ?: '_self' }}">
					{{ header.cta_button.title|e('wp_kses_post') }}
					<span class="icon-box">
						<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M8.23429 2.63431C8.54671 2.32189 9.05324 2.32189 9.36566 2.63431L14.1657 7.43431C14.4781 7.74673 14.4781 8.25326 14.1657 8.56568L9.36566 13.3657C9.05324 13.6781 8.54671 13.6781 8.23429 13.3657C7.92187 13.0533 7.92187 12.5467 8.23429 12.2343L11.6686 8.79999L2.39998 8.8C1.95815 8.79999 1.59998 8.44182 1.59998 7.99999C1.59998 7.55817 1.95815 7.19999 2.39998 7.19999H11.6686L8.23429 3.76568C7.92187 3.45326 7.92187 2.94673 8.23429 2.63431Z" fill="currentColor"/>
						</svg>
					</span>
				</a>
			{% endif %}
		</div>
	</div>
</header>
