{% if items %}
	<ul class="{{ class }} navbar-nav gap-24 align-items-center position-relative">
		{% for item in items %}
			{% set opt = item.meta('dropdown_options') ?: {} %}
			<li class="nav-item" >
				<a class="text-nowrap nav-link d-flex align-items-center {{ item.current ? 'active' }}" href="{{ item.link }}" {% if item.target  %} target="{{ item.target }}" {% endif %}>
					{{ item.title }}
					{% if item.children %}
						<svg class="nav-link-toggle ms-8" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7 10L12.0008 14.58L17 10" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					{% endif %}
				</a>

				{% if item.children %}
					<div class="dropdown-nav p-24 d-flex align-items-start rounded-8 position-absolute t-100 start-0" style="background-color: {{ opt.bg_color ?: '#d5f6e6' }}">
						{% if opt.image and opt.image.url %}
							<img class="rounded-8 flex-shrink-0 me-40"
								 srcset="{{ opt.image.url|resize(580, 352, 'center') }} 1.5x"
								 src="{{ opt.image.url|resize(240, 176, 'center') }}" width="240" height="176" alt="{{ item.title|e('html_attr') }}">
						{% endif %}
						<div class="">
							<p class="fp-body-sm font-weight-600 text-gray text-uppercase mb-8">{{ item.title }}</p>
							<ul class="dropdown-nav-list list-unstyled">
								{% for subitem in item.children %}
									<li class="pt-16">
										<a class="nav-link {{ subitem.current ? 'active' }}" href="{{ subitem.link }}" {% if subitem.target  %} target="{{ subitem.target }}" {% endif %}>
											{{ subitem.title }}
										</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
