{% if items %}
	<ul class="offcanvas-nav nav flex-column">
		{% for item in items %}
			<li class="nav-item mb-24 {{ item.classes | join(' ') | e('html_attr') }}" >
				<div class="d-flex align-items-center">
					<a class="text-nowrap nav-link {{ item.current ? 'active' }}"
					   	href="{{ item.link|e('esc_url') }}" {% if item.target  %}
						target="{{ item.target|e('html_attr') }}" {% endif %}
					>
						{{ item.title|e('wp_kses_post') }}
					</a>
					{% if item.children %}
						<button type="button" class="btn-toggle p-0 ms-8 flex-shrink-0" data-bs-toggle="collapse" data-bs-target="#{{ 'drilldown-' ~ item.id }}" aria-expanded="false" aria-controls="{{ 'drilldown-' ~ item.id }}" >
							<svg class="nav-link-toggle" width="24" height="24">
								<use xlink:href="#icon-toggle" />
							</svg>
						</button>
					{% endif %}
				</div>
				{% if item.children %}
					<div class="collapse" id="{{ 'drilldown-' ~ item.id }}">
						<ul class="list-unstyled ps-40">
							{% for subitem in item.children %}
								<li class="pt-16">
									<a class="nav-link nav-sub-link {{ subitem.current ? 'active' }}" href="{{ subitem.link|e('esc_url') }}" {% if subitem.target  %} target="{{ subitem.target|e('html_attr') }}" {% endif %}>
										{{ subitem.title|e('wp_kses_post') }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
