<section {{ anchor }} {{ attribute }} data-services-list-block>
	<div class="container">
		{% if title %}
			<h2 class="fp-services-list-block__title font-family-body mb-40">{{ title }}</h2>
		{% endif %}
		{% if services | length > 0 %}
			<div class="splide mb-40 mb-lg-56" data-services-nav>
				<div class="splide__track">
					<div class="splide__list">
						{% for service in services %}
							<div class="fp-services-nav splide__slide">
								<div class="bg-white rounded-56 border border-1 border-black py-12 px-16 p-lg-16 font-weight-600">{{ service.post_title }}</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="splide fp-services-slider" data-services-list>

				<div class="splide__track">
					<div class="position-absolute end-0 d-none d-md-flex gap-16 top-n200 splide__arrows splide__arrows--ltr">
						<button
							class="splide__arrow splide__arrow--prev"
							type="button"
							aria-label="Previous slide"
							aria-controls="splide01-track"
						>
							<svg width="16" height="16"><use xlink:href="#icon-arrow-left"></use></svg>
						</button>
						<button
							class="splide__arrow splide__arrow--next"
							type="button"
							aria-label="Next slide"
							aria-controls="splide01-track"
						>
							<svg width="16" height="16"><use xlink:href="#icon-arrow-right"></use></svg>
						</button>
					</div>
					<div class="splide__list">
						{% for service in services %}
							<div class="fp-service-card rounded-16 bg-white border border-1 position-relative h-100 splide__slide">
								<div class="d-flex flex-column flex-md-row p-16 p-lg-0">
									<div class="flex-shrink-0 mb-24 mb-md-0 p-lg-8">
										{% if service.thumbnail.src %}
											<picture class="w-100">
												<source media="(max-width: 680px)"
														srcset="{{ service.thumbnail.src|resize(400, 235, 'center')|towebp }} 1x, {{ service.thumbnail.src|resize(600, 353, 'center')|towebp }} 1.5x"
														type="image/webp" width="400" height="235"/>
												<source media="(max-width: 680px)"
														srcset="{{ service.thumbnail.src|resize(400, 235, 'center')|tojpg }} 1x, {{ service.thumbnail.src|resize(600, 353, 'center')|tojpg }} 1.5x"
														width="400" height="235"/>

												<source media="(max-width: 991px)"
														srcset="{{ service.thumbnail.src|resize(240, 400, 'center')|towebp }} 1x, {{ service.thumbnail.src|resize(360, 600, 'center')|towebp }} 1.5x"
														type="image/webp" width="240" height="400"/>
												<source media="(max-width: 991px)"
														srcset="{{ service.thumbnail.src|resize(240, 400, 'center')|tojpg }} 1x, {{ service.thumbnail.src|resize(360, 600, 'center')|tojpg }} 1.5x"
														width="400" height="400"/>

												<source srcset="{{ service.thumbnail.src|resize(360, 448, 'center')|towebp }} 1x, {{ service.thumbnail.src|resize(540, 672, 'center')|towebp }} 1.5x"
														type="image/webp" width="240" height="448"/>
												<img class="object-fit-cover rounded-8 w-100" src="{{ service.thumbnail.src|resize(360, 448, 'center') }}" srcset="{{ service.thumbnail.src|resize(540, 672, 'center') }}" alt="{{ service.thumbnail.alt|e('html_attr') }}" width="360" height="448">
											</picture>
										{% endif %}
									</div>
									<div class="d-flex flex-column ps-md-16 pt-lg-40 pe-lg-48 pb-lg-24 ps-lg-80">
										<h3 class="font-family-body mb-24">{{ service.post_title | e('wp_kses_post') }}</h3>
										<div class="fp-price-wrap d-flex gap-24 mb-40">
											{% for item in service.price %}
												<div class="d-flex flex-column">
													<div class="fp-body-sm mb-16">{{ item.time | e('wp_kses_post') }} </div>
													<p class="fp-service-price font-family-heading mb-0">
														<span class="fp-body-sm me-n12">{{ item.currency }}</span>
														{{ item.price | e('wp_kses_post') }}
													</p>
												</div>
												{% if not loop.last %}
													<div class="border-end border-gray border-1"></div>
												{% endif %}
											{% endfor %}
										</div>
										<div class="d-flex flex-grow-1 flex-column">
											<div class="mb-auto">{{ service.description | e('wp_kses_post') }}</div>
											<div class="text-center text-md-start">
												<a class="fp-button fp-button--sm fp-button--black justify-content-between" href="#offcanvas-booking">
													{{ _e('Make an appointment', 'fp') }}
													<span class="icon-box">
														<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M8.23429 2.63431C8.54671 2.32189 9.05324 2.32189 9.36566 2.63431L14.1657 7.43431C14.4781 7.74673 14.4781 8.25326 14.1657 8.56568L9.36566 13.3657C9.05324 13.6781 8.54671 13.6781 8.23429 13.3657C7.92187 13.0533 7.92187 12.5467 8.23429 12.2343L11.6686 8.79999L2.39998 8.8C1.95815 8.79999 1.59998 8.44182 1.59998 7.99999C1.59998 7.55817 1.95815 7.19999 2.39998 7.19999H11.6686L8.23429 3.76568C7.92187 3.45326 7.92187 2.94673 8.23429 2.63431Z" fill="currentColor"/>
														</svg>
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}
	</div>
</section>
